@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"),
    url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("roboto-bold-webfont.woff2") format("woff2"),
    url("roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  --color-text-primary: #0e1217;
  --color-text-secondary: #525866;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f8fc;

  --color-btn-primary-bg: #ededed;
  --color-btn-hover-bg: #d9d9d9e7;

  --color-hover-bg: #dcdde0;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;

  --padding-btn-sm: var(--space-xs) var(--space-md);
  --padding-btn-md: var(--space-sm) var(--space-lg);

  --margin-bottom-para: 1.5rem;

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-round: 50%;

  --font-regular: "robotoregular", sans-serif;
  --font-bold: "robotobold", sans-serif;
}

body {
  font-family: var(--font-regular);
  color: var(--color-text-primary);
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template: auto 1fr / 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
  background-color: var(--color-bg-primary);
  grid-area: header;

  display: flex;
  justify-content: space-between;

  padding: var(--space-sm);

  position: sticky;
  top: 0;
  z-index: 10; /* Ensures it stays above content */
  width: 100%;
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;

  border: none;
  background-color: var(--color-btn-primary-bg);
}

.header button:hover {
  background-color: var(--color-btn-hover-bg);
}

.search-container {
  position: relative;

  display: flex;
  align-items: center;
  width: max(25%, 250px);
}

.searchbar {
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--color-btn-primary-bg);
  padding: 1rem 2rem 1rem 3rem;
}

.searchbar:focus {
  outline: none;
  border: 2px solid var(--color-text-secondary);
}

.searchbar::placeholder {
  color: var(--color-text-secondary);
}

.search-icon {
  position: absolute;
  left: 10px;
}

.options {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.notif-btn,
.theme-btn {
  border-radius: 12px;
}

.profile-icon {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-btn {
  border-radius: var(--radius-round);
  overflow: hidden;
}

.sidebar {
  background-color: var(--color-bg-primary);
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: sticky;
  top: 0;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  padding: var(--space-sm);
}

.logo-icon {
  width: min(15%, 80px);
  min-width: 40px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;

  padding: var(--space-sm);
  gap: var(--space-md);
}

.menu-item {
  display: flex;
  align-items: center;

  gap: var(--space-sm);
}

.menu-icon {
  display: grid;
  place-items: center;

  background-color: var(--color-btn-primary-bg);
  border-radius: var(--radius-small);
  width: 40px;
  height: 40px;
}

.menu-item:hover .menu-icon {
  background-color: var(--color-btn-hover-bg);
}

.logo-icon,
.menu-icon {
  margin-left: var(--space-sm);
}

.menu-divider {
  border-top: 1px solid var(--color-text-secondary);
  margin: 30px var(--space-sm);
  opacity: 0.6;
}

.main {
  background-color: lightskyblue;
  grid-area: main;
}
