@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"),
    url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("roboto-bold-webfont.woff2") format("woff2"),
    url("roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  --color-text-primary: #0e1217;
  --color-text-secondary: #525866;
  --color-delete: #ff3f56;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;

  --color-btn-hover-bg: #d9d9d9e7;

  --color-hover-bg: #dcdde0;

  --color-border-default: #e0e0e0;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;

  --padding-btn-sm: 0.4rem 0.8rem;
  --padding-btn-md: 0.6rem 1.2rem;
  --padding-btn-lg: 0.8rem 1.5rem;

  --margin-bottom-para: 1.5rem;

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-x-large: 24px;
  --radius-round: 50%;

  --font-regular: "robotoregular", sans-serif;
  --font-bold: "robotobold", sans-serif;

  --border-separator: 1px solid var(--color-border-default);

  --btn-default-background: #ac1de4;
  --btn-hover-background: #9e15d9;
  --btn-active-background: #8505c4;

  --btn-secondary-background: #e3c0f6;
}

body {
  font-family: var(--font-regular);
  color: var(--color-text-primary);
}

input,
button {
  border: none;
}

button {
  cursor: pointer;

  /* Disable text selection inside buttons */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-weight: 700;
  color: var(--color-text-primary);
}

.container {
  display: grid;
  grid-template: auto 1fr / 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
  background-color: var(--color-bg-primary);
  grid-area: header;

  display: flex;
  justify-content: space-between;

  padding: var(--space-sm);

  position: sticky;
  top: 0;
  z-index: 10; /* Ensures it stays above content */
  width: 100%;

  border-bottom: var(--border-separator);
}

.header button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;

  border: none;
  background-color: var(--color-bg-secondary);
}

.header button:hover {
  background-color: var(--color-btn-hover-bg);
}

.search-container {
  position: relative;

  display: flex;
  align-items: center;
  width: max(25%, 250px);
}

.searchbar {
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: var(--radius-small);
  background-color: var(--color-bg-secondary);
  padding: 1rem 2rem 1rem 3rem;
}

.searchbar:focus {
  outline: none;
  border: 2px solid var(--color-text-secondary);
}

.searchbar::placeholder {
  color: var(--color-text-secondary);
}

.search-icon {
  position: absolute;
  left: 10px;
}

.options {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.notif-btn,
.theme-btn {
  border-radius: var(--radius-medium);
}

.profile-icon {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-btn {
  border-radius: var(--radius-round);
  overflow: hidden;
}

.sidebar {
  background-color: var(--color-bg-primary);
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: sticky;
  top: 0;
  height: 100vh;

  border-right: var(--border-separator);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  padding: var(--space-sm);
}

.logo-icon {
  width: min(15%, 80px);
  min-width: 40px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;

  padding: var(--space-sm);
  gap: var(--space-md);
}

.menu-item {
  display: flex;
  align-items: center;

  gap: var(--space-sm);
}

.menu-icon {
  display: grid;
  place-items: center;

  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-small);
  width: 40px;
  height: 40px;

  transition: background-color ease 0.3s;
}

.active {
  stroke: var(--color-bg-primary);
}

.menu-item:hover .menu-icon {
  transition: color ease 0.25s;
  background-color: var(--btn-default-background);
}

.menu-icon.active,
.menu-item:hover .icon {
  background-color: var(--btn-default-background);
  stroke: var(--color-bg-primary);
}

.menu-item:hover .nostroke {
  fill: var(--color-bg-primary);
}

.logo-icon,
.menu-icon {
  margin-left: var(--space-sm);
}

.menu-divider {
  border-top: var(--border-separator);
  margin: 30px var(--space-sm);
}

.main {
  background-color: var(--color-bg-secondary);
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;

  grid-template-areas:
    "featured recent"
    "recommended popular";

  gap: var(--space-md);
  padding: var(--space-md);
}

.main-card {
  border: var(--border-separator);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: var(--color-bg-primary);

  border-radius: var(--radius-large);
  padding: var(--space-lg);
}

.main-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.featured {
  grid-area: featured;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--space-xs);

  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgb(0 0 0 / 90%)
    ),
    url(./assets/images/feature-cover.jpeg);
  background-size: cover;
  background-position: center;

  color: var(--color-bg-primary);
}

.genre {
  display: flex;
  gap: var(--space-sm);

  font-size: 0.8rem;
}

.genre-card {
  border: 1px solid white;
  border-radius: var(--radius-small);
  padding: var(--space-xs);

  margin-bottom: var(--space-sm);
}

.details {
  display: flex;
  gap: var(--space-sm);
}

.details-btn {
  padding: var(--padding-btn-md);
  border-radius: var(--radius-medium);
}

.view-info {
  background-color: var(--color-bg-primary);
}

.view-info:hover {
  background: var(--color-btn-hover-bg);
}

.recently-added {
  grid-area: recent;

  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.manga-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--space-md);
}

.manga-poster {
  border-radius: var(--radius-small);
  overflow: hidden;
  width: 60px;
  display: grid;
  place-items: center;
}

.manga-poster-img {
  object-fit: cover;
  width: 100%;
}

.read-now,
.view-info,
#add-manga {
  border-radius: var(--radius-small);
}

.read-now,
#add-manga {
  background-color: var(--btn-default-background);
  color: var(--color-bg-primary);
}

.read-now:hover,
#add-manga:hover {
  background-color: var(--btn-hover-background);
}

.manga-detail {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 15ch;
  overflow-wrap: break-word;
  margin-right: var(--space-sm);
}

.manga-detail-btn {
  padding: var(--padding-btn-sm);
  border-radius: var(--radius-small);
}

.manga-title {
  font-weight: 700;
}

.recommended {
  grid-area: recommended;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--space-sm);
}

.card-header {
  display: flex;
  justify-content: space-between;
}

#add-manga {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  padding: var(--padding-btn-md);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-md);
}

.card-item {
  display: flex;
  flex-direction: column;

  border: var(--border-separator);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-large);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  padding: var(--space-sm);
}

.card-option {
  display: flex;
  gap: var(--space-sm);

  margin-top: var(--space-sm);
}
.card-option-btn {
  padding: var(--padding-btn-sm);
  border-radius: var(--radius-small);
}

.card-option-btn.remove {
  border: 1px solid var(--color-delete);
  background-color: var(--color-bg-primary);
  color: var(--color-delete);
}

.manga-cover {
  width: 100%;
  display: grid;
  aspect-ratio: 4 / 5;
  overflow: hidden;
}

.manga-cover-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.popular-mangas {
  background-color: lightpink;
  grid-area: popular;
}
